# Set sources for HDF5 file and ticker list source file
[data_source]
hdf5_file = "~/tick_data/ohlc.h5"
stock_list_file = "~/tick_data/sp10.txt"

# Set the log level for all modules in Doberman
[logging]
log_level="warn"

[strategy]

[strategy.ema]
# Moving window size
ema_window = 30
# Histogram boundaries where exceeding events will create
# buy or sell signal.
histogram_min = -5
histogram_max = +5
# Number of buy/sell events that must occur before trade
# is actually permitted.
buy_count_max = 50
sell_count_max = 200

[strategy.macd]
macd_fast = 12
macd_slow = 26
macd_sig = 9
histogram_max = +1
histogram_min = -1
buy_count_max = 2
sell_count_max = 2

[strategy.bolbands]
ma_window = 30
std_deviations = 2
buy_count_max = 2
sell_count_max = 2

[simulation]
hi_signal = +1
lo_signal = -1

[tradebook]
cash_init  = 10000
risk_limit = 10000
